.container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100vh;
}

.card {
justify-content: center;
text-align: center;
}

.form-inline{
  justify-content: center;
}

.btn {
  background-color: #c61b48;
  border: none;
  margin: 10px 10px;
  &:hover {
    background-color: #aa4660;
  }
}
